     .resource_pane_tab_head button {
        background-color: inherit;


        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    .resource_pane_tab_head {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    .resource_pane_tab_head button:hover {
        background-color: #ddd;
    }

    .resource_pane_tab_head button.active {
        background-color: #ccc;
    }

     .resource-pane {
        flex: 0 0 auto;  
        padding: 0px;
        width: 300px;
        max-width:75%;
        min-width: 20%;
        background-color: #cbc5c1;
        color: #3E3E3B;
        height: 100vh;
        
    }