

.display-block {
  display: block;
}

.display-none {
  display: none;
}

    html, body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
            'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
        padding:0;
        margin: 0 auto;
        overflow: auto;                           
    }
  

    



    

    





